/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

/* nav */

/* For mobile phones: */ 

nav {
  width: 100%;
  background-color: #2a2a2a;
}

#eg-logo {
  margin-left: 1rem; 
}

  #eg-logo:focus {
    outline: 3px solid #ffff00;
    outline-offset: 5px;
  }

  #eg-logo img {
    height: 2em;
    display: block;
  }

#fn-logo {
  margin: 0 0.5rem; 
}

  #fn-logo img {
    height: 3.5rem;
    display: block;
    margin: 0 1rem;
  }

  #fn-logo:focus {
    outline: 3px solid #ffff00;
    outline-offset: -5px;
  }

#mobile-nav, #nav-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

  #mobile-nav {
    justify-content: space-between;
  }

  #nav-logos {
    justify-content: right;
  }

#veggie-burger {
  background-color: #ffff00;
  height: 3.7rem;
  width: 3.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  #veggie-burger:hover {
    background-color: #1EB8F4;
    transition: 0.3s;
  }

  #veggie-burger:focus {
    outline: 3px solid #1EB8F4;
    outline-offset: -5px;
  }

  .veggie-patty {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }

.no-small-screens, .no-med-screens {
  display: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets (screens bigger than 600px but smaller than 768px): */

  nav, #nav-right {
    display: flex;
    flex-direction: row;
  }

    nav {
      justify-content: space-between;
    }

    #nav-right {
      justify-content: right;
    }

  .no-small-screens {
    display: block;
  }

  #mobile-nav {
    justify-content: left;
  }

  #veggie-burger {
    background-color: #2a2a2a;
  }

    .veggie-patty {
      width: 35px;
      height: 3px;
      background-color: #cccccc;
      margin: 4px 0;
    }  

    #veggie-burger:hover {
      background-color: #ffff00;
      transition: 0.3s;
    }

    #veggie-burger:hover .veggie-patty {
      background-color: #000000;
      transition: 0.3s;
    }
    
    #veggie-burger:focus {
      outline: 3px solid #ffff00;
      outline-offset: -5px;
    }

  #search, #language, #user, #download {
    height: 3.7rem;
    background-color: #2a2a2a;
    border: none;
  }

  #user, #language, #search {
    padding: 0 14px; 
  }

  #user {
    width: 125px; 
    /* set so that it isn't squished on med screens */
  }

  #download {
    padding: 0 1.75rem; 
    background-color: #ffff00;
    color: #2a2a2a;
  }

  #search .fas, #user .fas, #language .fas {
    color: #CCCCCC;
    line-height: 1.6;
    display: inline;
  }

  .sign-text {
    padding: 0 10px; 
  }

  .nav-text {
    text-transform: uppercase;
    color: #CCCCCC;
    font-size: 10.5px; 
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
  }

  #nav-right button:hover {
    border-bottom: 5px solid #ffff00;
    transition: 0.3s;
  }

    #nav-right button:hover .fas,
    #nav-right button:hover span {
      color: #ffffff;
    }

  #nav-right button:focus {
    outline: 3px solid #ffff00;
    outline-offset: -5px;
  }

    #nav-right button:focus .fas,
    #nav-right button:focus span {
      color: #ffffff;
    }

  #nav-right #download:hover {
    background-color: #1EB8F4;
    color: #000000;
    border: none;
    transition: 0.3s;
  }

  #nav-right #download:focus {
    outline: 3px solid #1EB8F4;
    outline-offset: -5px;
    color: #000000;
  }

}

@media only screen and (min-width: 1100px) {
  /* For desktop (screens bigger than 1100px): */
  /* made breakpoint a bit larger than usual so that the nav isn't crowded */

  #veggie-burger {
    display: none;
  }

  .no-med-screens {
    display: block;
  }

  #nav-left {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }
  
  #nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
    #nav-ul li {
      padding: 10px 10.5px; 
    }

    #nav-ul a {
      color: #cccccc;
    }

    /* just the main nav links (not the competitive dropdown or its links): */
    /* WORKS */
    #nav-ul .nav-text .main-nav-links:hover {
      border-bottom: 5px solid #ffff00;
      color: #ffffff;
      transition: 0.3s;
    }
    
      #nav-ul li:hover a {
        color: #ffffff;
        transition: 0.3s;
      }

    #nav-ul li:focus {
      outline: 3px solid #ffff00;
      outline-offset: -5px;
      color: #ffffff;
    }

    #nav-ul li a:focus {
      outline: 3px solid #ffff00;
      outline-offset: 5px;
      color: #ffffff;
    }

    /* dropdown menu: hover works but styling is messed up */

    #competitive-dropdown {
      display: none;
    }

    #nav-ul #competitive:hover #competitive-dropdown {
      display: block;
      width: 200px;
    }

    

}