/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

/* navbar */

/* ********** */
/* For mobile phones: */ 
/* ********** */

nav {
  width: 100%;
  background-color: #2a2a2a;
}

/* left logos: */
#eg-logo {
  margin-left: 1rem; 
}

  #eg-logo:focus {
    outline: 3px solid #ffff00;
    outline-offset: 5px;
  }

  #eg-logo img {
    height: 2em;
    display: block;
  }

#fn-logo {
  margin: 0 0.5rem; 
}

  #fn-logo img {
    height: 3.5rem;
    display: block;
    margin: 0 1rem;
  }

  #fn-logo:focus {
    outline: 3px solid #ffff00;
    outline-offset: -5px;
  }

#mobile-nav, #nav-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

  #mobile-nav {
    justify-content: space-between;
  }

  #nav-logos {
    justify-content: right;
  }

/* vegburger menu: */
#veggie-burger {
  background-color: #ffff00;
  height: 3.7rem;
  width: 3.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .veggie-patty {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }

  #veggie-burger:hover #vp-1 {
    transform: rotate(135deg);
}

  /* hover effects for vegburger menu: */
  #veggie-burger:hover {
    background-color: #1EB8F4;
    transition: 0.3s;
  }

  /* focus effect for vegburger menu: */

  #veggie-burger:focus {
    outline: 3px solid #1EB8F4;
    outline-offset: -5px;
  }

#search-input {
  font-family: "Open Sans", sans-serif;
  position: relative;
  vertical-align: center;
  width: 100%;
  height: 3.7rem;
  padding: 0 1.75rem;
  font-size: 1.2em;
  background-color: #CCCCCC;
  border: none;
  border-bottom: 5px solid #2a2a2a;
  border-top: 5px solid #2a2a2a;
}

/* hiding things on small and medium screens: */
.no-small-screens, .no-med-screens, #searchForm {
  display: none;
}


/* ********** */
/* For tablets (screens bigger than 690px but smaller than 768px): */
/* ********** */
@media only screen and (min-width: 690px) {

  /* show some things that were hidden on mobile, but not everything: */
  .no-small-screens {
    display: block;
  }

  /* organisation: */
  nav, #nav-right {
    display: flex;
    flex-direction: row;
  }
    nav {
      justify-content: space-between;
    }

    #nav-right {
      justify-content: right;
    }

  #mobile-nav {
    justify-content: left;
  }

  /* vegburger menu styling change */
  #veggie-burger {
    background-color: #2a2a2a;
  }

  .veggie-patty {
    width: 35px;
    height: 3px;
    background-color: #cccccc;
    margin: 4px 0;
  }  

  /* HOVER effects for vegburger menu on med: */
    #veggie-burger:hover {
      background-color: #ffff00;
      transition: 0.3s;
    }

    #veggie-burger:hover .veggie-patty {
      background-color: #000000;
      transition: 0.3s;
    }
  
  /* FOCUS effects for vegburger menu on med: */
    #veggie-burger:focus {
      outline: 3px solid #ffff00;
      outline-offset: -5px;
    }

  /* righthand icons */
  #search, #language, #user, #download {
    height: 3.7rem;
    background-color: #2a2a2a;
    border: none;
    padding: 0 1.75rem
  }

  /* find a better way to do this */
  #language {
    padding-top: 8px;
  }

  #user, #download {
    font-size: 10px;
  }

  #download {
    background-color: #ffff00;
    color: #2a2a2a;
  }

  /* text in "sign up" button */
  #user .sign-text {
    padding: 0 10px; 
  }

  /* fontawesome icons */
  #search .fas, #user .fas, #language .fas {
    color: #CCCCCC;
    line-height: 1.6;
    display: inline;
  }

  /* all nav text incl buttons: */
  .nav-text {
    text-transform: uppercase;
    color: #CCCCCC;
    font-size: 10.5px; 
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
  }

  /* make the bottom border already exist so that it doesn't bump up the text */
  #nav-right button { 
    border-bottom: 5px solid #2a2a2a;
    border-top: 5px solid #2a2a2a;
  }
  #nav-right #download { 
    border-bottom: none;
    border-top: none;
  }

  /* HOVER effect for righthand buttons: yellow line */
  #nav-right button:hover {
    border-bottom: 5px solid #ffff00;
    transition: 0.3s;
  }

  /* HOVER effect for righthand buttons: white font */
  #nav-right button:hover .fas,
  #nav-right button:hover span {
    color: #ffffff;
  }

  /* FOCUS effect for righthand buttons: yellow outline */
  #nav-right button:focus {
    outline: 3px solid #ffff00;
    outline-offset: -5px;
  }

  /* FOCUS effect for righthand buttons: white font */
    #nav-right button:focus .fas,
    #nav-right button:focus span {
      color: #ffffff;
    }

  /* HOVER effect for download button: make it blue */
  #nav-right #download:hover {
    background-color: #1EB8F4;
    color: #000000;
    border: none;
    transition: 0.3s;
  }

  /* FOCUS effect for download button: blue outline */
  #nav-right #download:focus {
    outline: 3px solid #1EB8F4;
    outline-offset: -5px;
    color: #000000;
  }

  /* nav dropdown (competitive and language) */
  .main-nav-links, .dropbtn {
    display: inline-block;
  }
  
  /* make it invisible til hover but set the styling */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 210px;
    padding: 0.7em 0;

  }
  
  /* for the sites; need to make a different one for languages */
  .dropdown-content a {
    padding: .5em .8em; /* from original */
    display: block;
    text-align: center;
  }
  
  /* make the dropdown appear on hover */
  .dropdown:hover .dropdown-content { display: block;}
  
  /* Hover effects for dropdown items */
  .dropdown-content a:hover { 
    background-color: #1EB8F4;
    color: black; 
  }

}


/* ********** */
/* For desktop (screens bigger than 1200px): */
/* ********** */

@media only screen and (min-width: 1200px) {

  /* make everything visible: */
  .no-med-screens {
    display: block;
  }

  /* except the vegburger menu, get rid of that: */
  #veggie-burger {
    display: none;
  }

  /* organisation: */
  #nav-left {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }
  
  #nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden; /* added from dropdown example, possible unnecessary */
  }
  
  /* styling for site list and links */
    #nav-ul li {
      padding: 16px 10.5px; /* makes bottom border line up correctly */
      display: inline-block;
    }

    #nav-ul a {
      color: #cccccc;
    }
    
    /* make it already have a bottom border: */
    #nav-ul li { 
      border-bottom: 5px solid #2a2a2a;
      border-top: 5px solid #2a2a2a;
    }

    /* HOVER effect for nav links (NOT competetive dropdown): yellow line */
    #nav-ul .main-nav-links:hover {
      border-bottom: solid 5px #ffff00;
      transition: 0.3s;
    }

    /* HOVER effect for nav site links: white text */
    #nav-ul li:hover a {
      color: #ffffff;
      transition: 0.3s;
    }

    /* FOCUS effect for nav site non-links: yellow outline and white text */
    /* for some reason this has changed size, need to fix */
    #nav-ul li:focus {
      outline: 3px solid #ffff00;
      outline-offset: -5px;
      color: #ffffff;
    }

    /* FOCUS effect for nav site links: yellow outline and white text */
    #nav-ul li a:focus {
      outline: 3px solid #ffff00;
      outline-offset: 5px;
      color: #ffffff;
    }

}